.xxLarge {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -0.5px;
}

.xLarge {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
}

.large {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
}

.medium {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0px;
}

.small {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
}

.xSmall {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}
